body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(37, 37, 37);
    margin: 0;
    text-align: center;
}
body,html{
    height: 100%;
}
input[type="text"]{
    text-align: center;
    font-size: large;
    margin-top: 3vh;
    padding:1vh 0;
    border: 0px;
}
.a-forgt-pass{
    text-decoration: none;
    color: white;
    margin-left: 0%;
}
.a-forgt-pass:hover{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: 500ms;
}