.badgeForGames-1{
    margin-top: 10%;
}
.row-games-1{
    margin-top: 5%;
    
}
.row-games-1>div{
    max-width: 275px;
    margin-bottom: 3%;
}
.row-games-2>div{
    max-width: 275px;
}
.rotate-badge{
    transform: rotate(15deg);
}
.jumbotron-free-games>h1{
    margin-left:15%;
}
.row-free-games>div>p{
    font-size: 25pt;
    margin-top: 1%;
}
.gift-free-games{
    max-width: 32px;
    max-height: 32px;
    margin: 1%;
}
.jumbotron-free-games{
    background-color: rgb(56, 56, 56);
}
@font-face {
    font-family: OctoberCrow; /* Гарнитура шрифта */
    src: url(main.ttf); /* Путь к файлу со шрифтом */
   }
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}
body{
    background-color: rgb(37, 37, 37);
}
.jumbotron-sales{
    margin-top:3%;
}
.btn{
    border-radius: 0;
}
.badge{
    border-radius: 0;

}
.row-free-games>div{
    margin-top: 3%;
}
.jumbotron-now-free{
    background-color: transparent;
}
.ac-vallhalla-wall{
    display:inline-block; 
    margin-top: -12%;
    min-width: 300px;
    max-height: 1000px;
    max-width: 700px;
}
.jumbotron-now-free{
    min-height: 20%;
    padding: 1%;
    margin-top: 5%;        
}
.wall-addition{
    display:inline-block;
    margin-top: 6%;
}
.row-now-free{
    background-color: #21D4FD;
    background-image: linear-gradient(135deg, #21D4FD 0%, #B721FF 100%); 
    padding-left: 2%;
}
.now-free-h1{
    margin-left: 5%;
}
.p-wall-addition{
    max-width: 600px;
}
.div-pre-order{
    padding: 0 6%;
}
.row-games-2{
    margin-top: 4%;
}
.image-64{
    width: 64px;
    height: 64px;
}
.footer-ludus{
    background-color: #343a40!important;
    padding:1%;
    margin-top: 5%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #cd55ee;
    color: white;
  }
  .fa-youtube {
    background: #ee5555;
    color: white;
  }
  .horizontal-list>*{
    display: inline-block;
  }
  .horizontal-list{
    min-width: 320px;
  }
  

  